<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm">
            <form action="" [formGroup]="equivalenteForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="lemaEquivalente">Lema Equivalente</label>
                    <input 
                        id="lemaEquivalente" 
                        class="form-control" 
                        type="text" 
                        name="lemaEquivalente"
                        formControlName="lemaEquivalente"
                    >
                </div>
                <div class="form-group">
                    <label for="numApresentacao">Posição de apresentação</label>
                    <input 
                        id="numOrdemApresentacao" 
                        class="form-control" 
                        type="number"
                        name="numOrdemApresentacao"
                        formControlName="numOrdemApresentacao"
                    >
                </div>
                <div class="form-group">
                    <label for="exemploOriginal">Exemplo Original</label>
                    <input 
                        id="exemploOriginal" 
                        class="form-control" 
                        type="text" 
                        name="exemploOriginal"
                        formControlName="exemploOriginal"
                    >
                </div>
                <div class="form-group">
                    <label for="exemploEquivalente">Exemplo Equivalente</label>
                    <input 
                        id="exemploEquivalente" 
                        class="form-control" 
                        type="text" 
                        name="exemploEquivalente"
                        formControlName="exemploEquivalente"
                    >
                </div>
                <div class="form-group">
                    <label for="palavraGuia">Palavras guia</label>
                    <input 
                        id="palavraGuia" 
                        class="form-control" 
                        type="text" 
                        name="palavraGuia"
                        formControlName="palavraGuia"
                    >
                </div>
                <div class="form-group">
                    <label for="referencia">Referência Bibliográfica</label>
                    <input 
                        id="referencia" 
                        class="form-control" 
                        type="text" 
                        name="referencia"
                        formControlName="referencia"
                    >
                </div>
                <div class="form-group">
                    <label for="notasGramatica">Notas gramaticais</label>
                    <textarea 
                        id="notasGramatica" 
                        class="form-control" 
                        name="notasGramatica" 
                        rows="3"
                        formControlName="notasGramatica"
                    ></textarea>
                </div>
                <div class="form-group">
                    <label for="notasCultura">Notas Culturais</label>
                    <textarea 
                        id="notasCultura" 
                        class="form-control" 
                        name="notasCultura" 
                        rows="3"
                        formControlName="notasCultura"
                    ></textarea>
                </div>
            </form>
        </div>
        <div class="col-sm-1">
            <app-botoes-controle (buttonEvent)="sideButtonClicked($event)"></app-botoes-controle>
        </div>
    </div>
</div>
