<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="" [formGroup]="referenciasForm" (ng-submit)="onSubmit()">
                <div class="form-group">
                    <label for="codigo">Código da Referência</label>
                    <input id="codigo" class="form-control" type="text" name="codigo">
                </div>
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <input id="autor" class="form-control" type="text" name="autor">
                </div>
                <div class="form-group">
                    <label for="descricao">Obra referenciada</label>
                    <input id="descricao" class="form-control" type="text" name="descricao">
                </div>
                <div class="form-group">
                    <label for="ano">Ano de publicação</label>
                    <input id="ano" class="form-control" type="number" name="ano">
                </div>
            </form>
        </div>
    </div>
</div>