<div class="col-sm-12" >
    <h3>Resultados possíveis</h3>
    
    <div *ngIf="idioma == 'es'">
        <div 
            *ngFor="let palavra of resultados | async" 
            (click)="onClickElemento(palavra.Idioma, palavra.Id, palavra.Lema)"
            class="col-sm-3"
        >
            <p>{{palavra.Lema}}</p>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-11"
                *ngFor="let palavra of resultados | async"
                
            >
                <h5 (click)="onClickElemento()">{{palavra.Lema}}</h5>
                
                <a class="btn btn-primary" [disabled]="aSvc.isAuthenticated()" [routerLink]="['../m/palavras', palavra.Id]"
                routerLinkActive="router-link-active">Editar</a>
            </div>
        </div>

    </div>
    
    <div *ngIf="idioma !== 'es'">
        <div 
            *ngFor="let palavra of resultados | async"      
            class="col-sm-12"
        >
            <h5 (click)="onClickElemento(palavra.Idioma, palavra.Id, palavra.Lema)">{{palavra.Lema}}</h5>
            <p>{{palavra.Definicao}}</p>
            <a class="btn btn-primary" [disabled]="aSvc.isAuthenticated()" [routerLink]="['../m/palavras', palavra.Id]"
            routerLinkActive="router-link-active">Editar</a>
        </div>
    </div>

</div>