<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm">
            <form [formGroup]=fraseForm (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="fraseOriginal">Frase Original</label>
                    <input type="text" name="fraseOriginal" id="fraseOriginal"
                    formControlName="fraseOriginal"
                    >
                </div>
                <div class="form-group">
                    <label for="fraseEquivalente">Frase Equivalente</label>
                    <input id="fraseEquivalente" class="form-control" type="text" name="fraseEquivalente"
                    formControlName="fraseEquivalente">
                </div>
                <div class="form-group">
                    <label for="exemploForiginal">Exemplo da frase Original</label>
                    <input id="exemploForiginal" class="form-control" type="text" name="exemploForiginal"
                    formControlName="exemploForiginal">
                </div>
                <div class="form-group">
                    <label for="exemploFequivalente">Exemplo de frase Equivalente</label>
                    <input id="exemploFequivalente" class="form-control" type="text" name="exemploFequivalente"
                    formControlName="exemploFequivalente">
                </div>
                <div class="form-group">
                    <label for="notasGramaticais">Notas gramaticais</label>
                    <input id="notasGramaticais" class="form-control" type="text" name="notasGramaticais"
                    formControlName="notasGramaticais">
                </div>
                <div class="form-group">
                    <label for="notasCulturais">Notas Culturais</label>
                    <input id="notasCulturais" class="form-control" type="text" name="notasCulturais"
                    formControlName="notasCulturais">
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <option *ngFor="let i of tipos" [ngValue]="i">{{i}}</option>
                </div>
                
                <button class="btn btn-primary" type="submit">Salvar</button>
            </form>
        </div>
        <div class="col-sm-1">
            <app-botoes-controle (buttonEvent)="sideButtonClicked($event)"></app-botoes-controle>
        </div>
    </div>
</div>
