<div class="row">

    <div class="col-sm-4">
        <ul>
            <li *ngFor="let item of observaView | async"> {{item.Lema_Eq}}</li> <!--for com os resultados, somente lema-->
        </ul>
    </div>
    
    <div class="col-sm-8">
        <h3>{{resultadosEs.sublema}} {{pA.Lema}}</h3>
        <h4>({{pA.ClasseGram}} {{pA.Genero}})</h4>
        <div *ngIf="pA.definicao">
            <h5>Definição do lema cabeça</h5>
            <p>{{pA.Definicao}}</p>
        </div>
        <div *ngFor="let eq of observaView  | async">
            <p>{{eq.nApresentacao  | async}}</p>
            <b>{{eq.Lema_Eq | async}}</b>
            <p>{{eq.MarcaUso | async}}</p>
            <table class="table table-light">
                <tbody>
                    <tr>
                        <td><p>{{eq.Exemplo | async}}</p></td>
                        <td><p>{{eq.Exemplo_Traduzido | async}}</p></td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>