<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm">
            <input type="text">
            <button class="btn btn-success" (click)="onBuscar()">Buscar</button>
        </div>
        <div class="col-sm">
            <form action="" [formGroup]="palavraForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="lema">Lema</label>
                    <input id="lema" class="form-control" type="text" name="lema" formControlName="lema">
                </div>
                <div class="form-group">
                    <label for="idioma">Idioma</label>
                    <select formControlName="idioma">
                        <option *ngFor="let idiom of idiomas" [ngValue]="idiom">{{idiom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="classeGramatical">Classe Gramatical</label>
                    <select formControlName="classeGramatical">
                        <option *ngFor="let cg of classesGramaticais" [ngValue]="cg">{{cg}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="genero">Gênero</label>
                    <select formControlName="genero">
                        <option *ngFor="let gen of generos" [ngValue]="gen">{{gen}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="definicao">Definição</label>
                    <textarea id="definicao" class="form-control"  name="definicao" rows="3" formControlName="definicao"></textarea>
                </div>
                <div class="form-group">
                    <label for="notasGramaticais">Notas gramaticais</label>
                    <textarea id="notasGramaticais" class="form-control" name="notasGramaticais" rows="3" formControlName="notasGramaticais"></textarea>
                </div>
                <div class="form-group">
                    <label for="notasCulturais">Notas Culturais</label>
                    <textarea id="notasCulturais" class="form-control" name="notasCulturais" rows="3" formControlName="notasCulturais"></textarea>
                </div>
                <div *ngIf="palavraAtiva">
                    <div *ngIf="palavraAtiva.idioma === 'ES'">
                        <div class="form-group">
                            <label for="sinonimo1">Sinonimo 1</label>
                            <input id="sinonimo1" class="form-control" type="text" name="sinonimo1" formControlName="sinonimo1">
                        </div>
                        <div class="form-group">
                            <label for="sinonimo2">Sinônimo 2</label>
                            <input id="sinonimo2" class="form-control" type="text" name="sinonimo2" formControlName="sinonimo2">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-1">
            <app-botoes-controle (buttonEvent)="sideButtonClicked($event)"></app-botoes-controle><br>
            <button class="btn btn-secondary" (click)="onClickEquivalentes()">Equivalentes</button><br>
            <button class="btn btn-secondary" (click)="onClickConjugacoes()">Conjugações</button><br>
            <button class="btn btn-secondary" (click)="onClickFraseologia()">Fraseologia</button><br>
        </div>
    </div>
</div>
