<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm">
            <form action="" [formGroup]="conjugaForm" (ngSubmit)="onSubmit()">
                <table class="table table-light">
                    <thead class="thead-light">
                        <tr>
                            <th>Construção</th>
                            <th>Exemplos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Presente</td>
                            <td>                   
                                <textarea 
                                    id="cPresente" 
                                    class="form-control" 
                                    type="text" 
                                    name="cPresente" 
                                    rows="8"
                                    formControlName="cPresente"
                                ></textarea>
                            </td>
                            <td>                   
                                <textarea 
                                    id="ePresente" 
                                    class="form-control" 
                                    type="text" 
                                    name="ePresente" 
                                    rows="8"
                                    formControlName="ePresente"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Pretérito Imperfeito</td>
                            <td>                   
                                <textarea 
                                    id="cPretImp" 
                                    class="form-control" 
                                    type="text" 
                                    name="cPretImp" 
                                    rows="8"
                                    formControlName="cPretImp"
                                ></textarea>
                            </td>
                            <td>                   
                                <textarea 
                                    id="ePretImp" 
                                    class="form-control" 
                                    type="text" 
                                    name="ePretImp" 
                                    rows="8"
                                    formControlName="ePretImp"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Pretérito Perfeito</td>
                            <td>                   
                                <textarea 
                                    id="cPretPer" 
                                    class="form-control" 
                                    type="text" 
                                    name="cPretPer" 
                                    rows="8"
                                    formControlName="cPretPer"
                                ></textarea>
                            </td>
                            <td>                   
                                <textarea 
                                    id="ePretPer" 
                                    class="form-control" 
                                    type="text" 
                                    name="ePretPer" 
                                    rows="8"
                                    formControlName="ePretPer"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Futuro Presente</td>
                            <td>                   
                                <textarea 
                                    id="cFutPres" 
                                    class="form-control" 
                                    type="text" 
                                    name="cFutPres" 
                                    rows="8"
                                    formControlName="cFutPres"
                                ></textarea>
                            </td>
                            <td>                   
                                <textarea 
                                    id="eFutPres" 
                                    class="form-control" 
                                    type="text" 
                                    name="eFutPres" 
                                    rows="8"
                                    formControlName="eFutPres"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Futuro Pretérito</td>
                            <td>                   
                                <textarea 
                                    id="cFutPret" 
                                    class="form-control" 
                                    type="text" 
                                    name="cFutPret" 
                                    rows="8"
                                    formControlName="cFutPret"
                                ></textarea>
                            </td>
                            <td>                   
                                <textarea 
                                    id="eFutPret" 
                                    class="form-control" 
                                    type="text" 
                                    name="eFutPret" 
                                    rows="8"
                                    formControlName="eFutPret"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Infinitivo Pessoal</td>
                            <td>                   
                                <textarea 
                                    id="cInfPessoal" 
                                    class="form-control" 
                                    type="text" 
                                    name="cInfPessoal" 
                                    rows="8"
                                    formControlName="cInfPessoal"
                                ></textarea>
                            </td>
                            <td>                   
                                <textarea 
                                    id="eInfPessoal" 
                                    class="form-control" 
                                    type="text" 
                                    name="eInfPessoal" 
                                    rows="8"
                                    formControlName="eInfPessoal"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Particípio</td>
                            <td>                   
                                <textarea 
                                    id="cParticipio" 
                                    class="form-control" 
                                    type="text" 
                                    name="cParticipio" 
                                    rows="8"
                                    formControlName="cParticipio"
                                ></textarea>
                            </td>
                            <td>                   
                                <textarea 
                                    id="eParticipio" 
                                    class="form-control" 
                                    type="text" 
                                    name="eParticipio" 
                                    rows="8"
                                    formControlName="eParticipio"
                                ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Gerúndio</td>
                            <td>                   
                                <textarea 
                                    id="cGerundio" 
                                    class="form-control" 
                                    type="text" 
                                    name="cGerundio" 
                                    rows="8"
                                    formControlName="cGerundio"
                                ></textarea>
                            </td>
                            <td>                   
                                <textarea 
                                    id="eGerundio" 
                                    class="form-control" 
                                    type="text" 
                                    name="eGerundio" 
                                    rows="8"
                                    formControlName="eGerundio"
                                ></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="col-sm-1">
        <app-botoes-controle (buttonEvent)="sideButtonClicked($event)"></app-botoes-controle>
    </div>
</div>