<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm">
            <form [formGroup]="usuarioForm" (ngSubmit)="sideButtonClicked({tipo:'salvar'})">
                <div class="form-group">
                    <label for="usuario">Nome de usuário</label>
                    <input 
                        id="usuario" 
                        class="form-control" 
                        type="text" 
                        name="usuario"
                        formControlName="usuario"
                    >
                </div>
                <div class="form-group">
                    <label for="senha">Digite uma senha</label>
                    <input 
                        id="entrasenha" 
                        class="form-control" 
                        type="password"
                        name="entrasenha"
                        formControlName="entrasenha"
                    >
                </div>
                <div class="form-group">
                    <label for="confirmasenha">Confirme a senha</label>
                    <input 
                        id="confirmasenha" 
                        class="form-control" 
                        type="password" 
                        name="confirmasenha"
                        formControlName="confirmasenha"
                    >
                </div>
                <div class="form-group">
                    <label for="permissao">Permissão de acesso</label>
                    <select formControlName="permissao">
                        <option *ngFor="let p of permissoes" [ngValue]="p">{{p}}</option>
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input 
                        id="nome" 
                        class="form-control"
                        type="text"
                        name="nome"
                        formControlName="nome"
                    >
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input 
                        id="email" 
                        class="form-control" 
                        type="email" 
                        name="email"
                        formControlName="email"
                    >
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input 
                        id="cpf" 
                        class="form-control" 
                        type="text" 
                        name="cpf"
                        formControlName="cpf"
                    >
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input 
                        id="telefone" 
                        class="form-control" 
                        type="text" 
                        name="telefone"
                        formControlName="telefone"
                    >
                </div>
                <button type="submit"> Salvar</button>
            </form>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-secondary" (click)="onClickBuscar()" >Buscar</a>
            <app-botoes-controle (buttonEvent)="sideButtonClicked($event)"></app-botoes-controle>
        </div>
    </div>
</div>
