<div class="row">
    <div class="col-sm-12">
        <h2>{{palavraBuscada.lema}}</h2>
        <h5>{{palavraBuscada.cGram}}</h5>
    </div>
</div>

<div class="row" *ngFor="let eq of palavraBuscada.listaEq; let j = index">
    <p>{{j}} {{eq.palavraGuia}}</p>
    <div class="row">  
        <div class="col-sm-12">
            <div>
                <h3>{{palavraBuscada.listaConjEq[j].lema}}</h3>
                
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>Presente Simples</th>
                            <th>Passado Simples</th>
                            <th>Futuro (Will)</th>
                            <th>Futuro (be + Going to)</th>
                            <th>Presente perfeito</th>
                            <th>Passado perfeito</th>
                            <th>Presente contínuo</th>
                            <th>Passado Contínuo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{palavraBuscada.listaConjEq[j].constrPresente}}</td>
                            <td>{{palavraBuscada.listaConjEq[j].constrPassado}}</td>
                            <td>{{palavraBuscada.listaConjEq[j].constrWill}}</td>
                            <td>{{palavraBuscada.listaConjEq[j].constrGoingTo}}</td>
                            <td>{{palavraBuscada.listaConjEq[j].constrPresPer}}</td>
                            <td>{{palavraBuscada.listaConjEq[j].constrPasPer}}</td>
                            <td>{{palavraBuscada.listaConjEq[j].constrPresCon}}</td>
                            <td>{{palavraBuscada.listaConjEq[j].constrPasCon}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <p>{{palavraBuscada.listaConjEq[j].notaCultura}}</p>
                <br>
                <p>{{palavraBuscada.listaConjEq[j].notasGramatica}}</p>
            </div>
        </div>
    </div>
 </div>


<div class="row">
    <div class="col-sm-12">
        <h3>Fraseologia</h3>
    </div>
</div>
<div class="row" *ngFor="let f of palavraBuscada.frasesRelacionadas; let i = index">
   <p>Exemplo {{i}}</p>
    <table class="table table-light">
        <tbody>
            <tr>
                <td><p>{{f.fraseOrig}}</p></td>
                <td><p>{{f.fraseEquiv}}</p></td>
            </tr>
            <tr>
                <td><p>Exemplo: {{f.exemploOriginal}}</p></td>
                <td><p>Exemplo: {{f.exemploEquivalente}}</p></td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12">
        <h5>Notas culturais</h5>
        <p>{{f.notasCultura}}</p>
        <br>
        <h5>Notas Gramaticais</h5>
        <p>{{f.notasGramatica}}</p>
    </div>
</div>
<div class="row">
</div>